processes/EN2010/Figure5/process.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.com/matching/EDOC/Figure5/process/interface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="process" targetNamespace="http://www.example.com/matching/EDOC/Figure5/process/interface">
    <plnk:partnerLinkType name="processPLT" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="process" portType="tns:process"/>
    </plnk:partnerLinkType>   
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.com/matching/EDOC/Figure5/process/interface">
      <xsd:element name="orderWaterPump">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="configureResources">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="configureResourcesResponse1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="assembleWatertank">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="assembleWatertankResponse1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="orderWaterPumpRequest">
    <wsdl:part element="tns:orderWaterPump" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="configureResourcesRequest">
  	<wsdl:part name="parameters" element="tns:configureResources"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="configureResourcesResponse1">
  	<wsdl:part name="parameters" element="tns:configureResourcesResponse1"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="assembleWatertankRequest">
  	<wsdl:part name="parameters" element="tns:assembleWatertank"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="assembleWatertankResponse1">
  	<wsdl:part name="parameters" element="tns:assembleWatertankResponse1"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="process">
    <wsdl:operation name="orderWaterPump">
      <wsdl:input message="tns:orderWaterPumpRequest"/>
    </wsdl:operation>
    <wsdl:operation name="configureResources">
    	<wsdl:input message="tns:configureResourcesRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="assembleWatertank">
    	<wsdl:input message="tns:assembleWatertankRequest"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="processSOAP" type="tns:process">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="orderWaterPump">
      <soap:operation soapAction="http://www.example.com/matching/EDOC/Figure5/process/interface/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="process">
    <wsdl:port binding="tns:processSOAP" name="processSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
