processes/CrossWorkCaseStudy/ClusterA/ClusterA.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="http://www.example.org/CrossWork/WaterTankProduction/ClusterA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClusterA" targetNamespace="http://www.example.org/CrossWork/WaterTankProduction/ClusterA">
  <plnk:partnerLinkType name="clusterAPLT">
    <plnk:role name="clusterA" portType="tns:ClusterAPT"/>
  </plnk:partnerLinkType>
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/CrossWork/WaterTankProduction/ClusterA">
	<xsd:element name="assembleWatertankBody">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="assembleWatertankBodyResponse">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="out" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema></wsdl:types>
    <wsdl:message name="assembleWatertankBodyRequest">
		<wsdl:part name="parameters" element="tns:assembleWatertankBody"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="assembleWatertankBodyResponse">
    	<wsdl:part name="parameters" element="tns:assembleWatertankBodyResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ClusterAPT">
    	<wsdl:operation name="assembleWatertankBody">
    		<wsdl:input message="tns:assembleWatertankBodyRequest"></wsdl:input>

    	</wsdl:operation>
    </wsdl:portType></wsdl:definitions>
